In [9]:
# Install your required packages here
!pip install pandas numpy matplotlib sklearn fsspec gcsfs

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.2.2)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Collecting fsspec
  Downloading https://files.pythonhosted.org/packages/a5/8b/1df260f860f17cb08698170153ef7db672c497c1840dcc8613ce26a8a005/fsspec-0.8.4-py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 4.0MB/s
Collecting gcsfs
  Downloading https://files.pythonhosted.org/packages/85/75/3d669945d41e5aedd5c4333b9dc6192b7839d2bafd04b75b8222d4e92ae0/gcsfs-0.7.1-py2.py3-none-any.whl
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.6/dist-packages (from gcsfs) (1.17.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.6/dist-packages (from gcsfs) (0.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from gcsfs) (2.23.0)
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/78/a6/93acfa8f8b3573c4445ace2f266de62783231923706a4c3ab705e7d43497/aiohttp-3.6.3-cp36-cp36m-manylinux1_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 6.1MB/s
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (0.16.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (4.6)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.2->gcsfs) (50.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->gcsfs) (3.0.4)
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Collecting multidict<5.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/1a/95/f50352b5366e7d579e8b99631680a9e32e1b22adfa1629a8f23b1d22d5e2/multidict-4.7.6-cp36-cp36m-manylinux1_x86_64.whl (148kB)
     |████████████████████████████████| 153kB 24.5MB/s
Requirement already satisfied: typing-extensions>=3.6.5; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (3.7.4.3)
Collecting idna-ssl>=1.0; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Collecting yarl<1.6.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/a0/b4/2cbeaf2c3ea53865d9613b315fe24e78c66acedb1df7e4be4e064c87203b/yarl-1.5.1-cp36-cp36m-manylinux1_x86_64.whl (257kB)
     |████████████████████████████████| 266kB 31.7MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->gcsfs) (20.2.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.1.0)
Building wheels for collected packages: idna-ssl
  Building wheel for idna-ssl (setup.py) ... done
  Created wheel for idna-ssl: filename=idna_ssl-1.1.0-cp36-none-any.whl size=3161 sha256=f2fa090ec111ed0ccf80c86f027c9fe6df83c394f1ed91c5791d89bd8e2ca3be
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built idna-ssl
Installing collected packages: fsspec, async-timeout, multidict, idna-ssl, yarl, aiohttp, gcsfs
Successfully installed aiohttp-3.6.3 async-timeout-3.0.1 fsspec-0.8.4 gcsfs-0.7.1 idna-ssl-1.1.0 multidict-4.7.6 yarl-1.5.1

In [2]:
import os

os.listdir()

['.config', 'ai-project-2020-f4dfbc25326c.json', 'sample_data']

In [1]:
%env GOOGLE_APPLICATION_CREDENTIALS=ai-project-2020-f4dfbc25326c.json

env: GOOGLE_APPLICATION_CREDENTIALS=ai-project-2020-f4dfbc25326c.json

In [2]:
%env GOOGLE_APPLICATION_CREDENTIALS=ai-project-2020-f4dfbc25326c.json

env: GOOGLE_APPLICATION_CREDENTIALS=ai-project-2020-f4dfbc25326c.json

In [3]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, Flatten, Dropout
from sklearn.preprocessing import LabelEncoder
from google.cloud import storage

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# define constants
bucket_name = "ai-project-2020-spotify"
client = storage.Client()
bucket = client.get_bucket(bucket_name)

In [6]:
train_files = list(bucket.list_blobs(prefix='training_set/'))
for blob in [blob for blob in train_files if '20180715' in blob.name]:
  print(blob.name)

training_set/log_0_20180715_000000000000.csv.gz
training_set/log_1_20180715_000000000000.csv.gz
training_set/log_2_20180715_000000000000.csv.gz
training_set/log_3_20180715_000000000000.csv.gz
training_set/log_4_20180715_000000000000.csv.gz
training_set/log_5_20180715_000000000000.csv.gz
training_set/log_6_20180715_000000000000.csv.gz
training_set/log_7_20180715_000000000000.csv.gz

In [11]:
logs = pd.read_csv(f"gs://{bucket_name}/training_set/log_0_20180715_000000000000.csv.gz")
logs.columns

Index(['session_id', 'session_position', 'session_length', 'track_id_clean',
       'skip_1', 'skip_2', 'skip_3', 'not_skipped', 'context_switch',
       'no_pause_before_play', 'short_pause_before_play',
       'long_pause_before_play', 'hist_user_behavior_n_seekfwd',
       'hist_user_behavior_n_seekback', 'hist_user_behavior_is_shuffle',
       'hour_of_day', 'date', 'premium', 'context_type',
       'hist_user_behavior_reason_start', 'hist_user_behavior_reason_end'],
      dtype='object')

In [12]:
unique_tracks = logs['track_id_clean'].nunique()
print(unique_tracks)

319008

In [13]:
logs_dropped = logs[['session_id','session_position','track_id_clean', 'skip_2']]
# Skip_2 to binary
logs_dropped['skip_2'] = logs_dropped['skip_2'].astype(int)
logs_dropped.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                               session_id  ...  skip_2
0  0_00006f66-33e5-4de7-a324-2d18e439fc1e  ...       0
1  0_00006f66-33e5-4de7-a324-2d18e439fc1e  ...       0
2  0_00006f66-33e5-4de7-a324-2d18e439fc1e  ...       0
3  0_00006f66-33e5-4de7-a324-2d18e439fc1e  ...       0
4  0_00006f66-33e5-4de7-a324-2d18e439fc1e  ...       0

[5 rows x 4 columns]

In [14]:
encoder = LabelEncoder()
logs_dropped['track_id_clean'] = encoder.fit_transform(logs_dropped['track_id_clean'])
logs_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2990609 entries, 0 to 2990608
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   session_id        object
 1   session_position  int64
 2   track_id_clean    int64
 3   skip_2            int64
dtypes: int64(3), object(1)
memory usage: 91.3+ MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
def stack_sessions(df):
    """
    Turn matrix representation into vector by stacking the listen events together (as columns)
    For example:
    session_id session_position feature1 feature2
    a          1                ~        ~
    a          2                ~        ~
    b          1                ~        ~
    b          2                ~        ~
    b          3                ~        ~

    Turns into:
    session_id 1_feature1 1_feature2 2_feature1 2_feature2 3_feature1 3_feature2
    a          ~          ~          ~          ~          Nan        Nan
    b          ~          ~          ~          ~          ~          ~
    """
    columns = list(df.columns)
    columns.remove('session_id')
    columns.remove('session_position')
    sessions = df.pivot(index='session_id', columns='session_position', values=columns)
    return sessions

In [16]:
# Stack all Sessions
stacked_sessions = stack_sessions(logs_dropped)
# Drop all features except track_id, skip_2, session_ids
stacked_sessions.head()

                                       track_id_clean            ... skip_2
session_position                                   1         2   ...     19   20
session_id                                                       ...
0_00006f66-33e5-4de7-a324-2d18e439fc1e         5621.0  180239.0  ...    1.0  1.0
0_0000a72b-09ac-412f-b452-9b9e79bded8f       290715.0    7754.0  ...    0.0  0.0
0_00010fc5-b79e-4cdf-bc4c-f140d0f99a3a       179103.0  303076.0  ...    1.0  1.0
0_00016a3d-9076-4f67-918f-f29e3ce160dc       140720.0  286600.0  ...    1.0  1.0
0_00018b58-deb8-4f98-ac5e-d7e01b346130        50130.0   58504.0  ...    NaN  NaN

[5 rows x 40 columns]

In [17]:
input_array = []
for index, row in stacked_sessions.iterrows():
    index = 3
    while index <= 8 :
        arr_row = {'Track1': row[('track_id_clean', index-2)], 'Track2': row[('track_id_clean', index-1)], 'Track3': row[('track_id_clean', index)], 'Track4': row[('track_id_clean', index+1)], 'Track5': row[('track_id_clean', index+2)], 'Track_3_Skip_2': row[('skip_2', index)]}
        input_array.append(arr_row)
        index = index+1
print(len(input_array))

1070052

In [18]:
model_input = pd.DataFrame(input_array)
model_input.head()

     Track1    Track2    Track3    Track4    Track5  Track_3_Skip_2
0    5621.0  180239.0  314424.0   44689.0  125848.0             0.0
1  180239.0  314424.0   44689.0  125848.0  249229.0             0.0
2  314424.0   44689.0  125848.0  249229.0  281749.0             0.0
3   44689.0  125848.0  249229.0  281749.0   14825.0             0.0
4  125848.0  249229.0  281749.0   14825.0  303773.0             1.0

In [19]:
model_input.shape

(1070052, 6)

In [20]:
skips = model_input['Track_3_Skip_2']

In [21]:
tracks = model_input.drop('Track_3_Skip_2', axis=1)

In [22]:
skips.shape

(1070052,)

In [23]:
tracks.shape

(1070052, 5)

In [24]:
embedding_size = 50
embedding = Embedding(input_dim=unique_tracks, output_dim=embedding_size, input_length=5, name='sequence_track_embedding')
model = Sequential()
model.add(embedding)
model.add(Flatten())
model.add(Dense(50, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(30, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(15, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(1, activation="sigmoid"))

In [25]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [30]:
model.fit(x=tracks, y=skips, epochs=10, validation_split=0.2, batch_size=5000)

Epoch 1/10
172/172 [==============================] - 18s 104ms/step - loss: 0.6136 - accuracy: 0.6530 - val_loss: 0.7253 - val_accuracy: 0.5351
Epoch 2/10
172/172 [==============================] - 18s 103ms/step - loss: 0.5529 - accuracy: 0.6930 - val_loss: 0.8018 - val_accuracy: 0.5353
Epoch 3/10
172/172 [==============================] - 18s 102ms/step - loss: 0.4954 - accuracy: 0.7215 - val_loss: 0.9373 - val_accuracy: 0.5343
Epoch 4/10
172/172 [==============================] - 18s 103ms/step - loss: 0.4543 - accuracy: 0.7392 - val_loss: 1.1731 - val_accuracy: 0.5347
Epoch 5/10
172/172 [==============================] - 18s 103ms/step - loss: 0.4276 - accuracy: 0.7506 - val_loss: 1.4165 - val_accuracy: 0.5336
Epoch 6/10
172/172 [==============================] - 18s 102ms/step - loss: 0.4088 - accuracy: 0.7597 - val_loss: 1.7260 - val_accuracy: 0.5345
Epoch 7/10
172/172 [==============================] - 18s 103ms/step - loss: 0.3954 - accuracy: 0.7672 - val_loss: 1.9599 - val_accuracy: 0.5337
Epoch 8/10
172/172 [==============================] - 18s 102ms/step - loss: 0.3846 - accuracy: 0.7735 - val_loss: 2.1748 - val_accuracy: 0.5312
Epoch 9/10
172/172 [==============================] - 18s 102ms/step - loss: 0.3761 - accuracy: 0.7818 - val_loss: 2.3559 - val_accuracy: 0.5330
Epoch 10/10
172/172 [==============================] - 18s 102ms/step - loss: 0.3680 - accuracy: 0.7875 - val_loss: 2.5638 - val_accuracy: 0.5321

In [ ]:
model.save

In [32]:
embedding_layer = model.get_layer(name="sequence_track_embedding")
embedding_layer = pd.DataFrame(embedding_layer.get_weights()[0])
embedding_layer.head()

         0         1         2   ...        47        48        49
0  0.033875  0.047370  0.023197  ... -0.018068  0.040775  0.036056
1 -0.036786  0.066691 -0.096675  ... -0.045778  0.073257 -0.082723
2 -0.028315  0.044363 -0.059785  ... -0.048186 -0.029952 -0.024110
3  0.026977  0.000909 -0.030441  ... -0.010268 -0.028588 -0.039348
4  0.005791 -0.056246 -0.044965  ...  0.058969 -0.003666 -0.005771

[5 rows x 50 columns]

In [33]:
embedding_layer.to_csv('sequence_track_embedding_weights.csv')

In [34]:
embedding_layer.shape

(319008, 50)

In [ ]:
embedding_layer.index = encoder.inverse_transform(embedding_layer.index)

In [ ]:
!git clone https://github.com/chiru-stefan/AE-Emb---AI-Proj.git